@charset "utf-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #00aeff;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    text-align: center;
    color: rgb(255, 255, 255);
}
h2{
    text-align: center;
}
main{
    background: white;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin: auto;
}
#login input{
    width: 96%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #535353;
    border-radius: 4px;
}
#endereco{
    width: 84%;
}
.city input{
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #535353;
    width: 40%;
}
.Contato input[type="text"], .Contato input[type="tel"]{
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #535353;
    width: 99%;
    margin-right: 30px;
    display: block;
}
#button{
    background: #00aeff;
    color: white;
    border: 1px solid #535353;
    margin: auto;
    text-align: center;
    padding: 12px;
    border-radius:10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#button:hover{
    background-color: #009ae1;
}
#button:focus{
    outline: none;
}
body:has(#button:sticky) #button {
    background-color: #555;
}